.input {
  @apply bg-background px-4 py-2 border border-input focus:border-transparent rounded-lg focus:ring-2 focus:ring-ring w-full text-foreground;
}

.input-label {
  @apply block mb-1 font-medium text-foreground text-sm;
}
